* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Open Sans', sans-serif;
}

.header{
    width: 1440px;
    background: url('./img/bg/bg_hero.png') center center/cover no-repeat;
}

.container{
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    position: relative;
    padding-top: 20px;
}

.menu{
    display: flex;
    justify-content: space-between;

}

.logo{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.logo_img{
    width: 70px;
    height: 60px;
}

.logo_text{
    font-size: 32px;
    line-height: 60px;
    text-transform: uppercase;
    color: #F7F7F7;
    margin-left: 16px;
}

.info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.info__btn{
    width: 120px;
    height: 50px;
    border: 2px solid #CD6326;
    border-radius: 5px;
    background: transparent;
    margin-left: 65px;
    align-items: center;
    text-align: center;
    font-size: 23px;
    line-height: 27px;
    color: #F7F7F7;
    cursor: pointer;
}
.info__btn:hover{
    text-decoration: underline;
    background: inherit;
    background: #CD6326;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.info__btn:active{
    background: #8F5613;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.info a{
    display: block;
    margin-left: 64px;
    text-decoration: none;
    cursor: pointer;
}

.info a:hover{
    text-decoration: underline;
    color: #E39128;
}

.info__img{
    display: block;
    margin-top: 17px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.info__blog{
    font-size: 23px;
    line-height: 60px;
    color: #F7F7F7;
    margin-left: 61px;
}

.survival{
    width: 275px;
    margin-top: 120px;
}

.survival h1{
    font-size: 48px;
    line-height: 72px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #CD6326;
}

.survival p{
    margin-top: 51px;
    font-size: 18px;
    line-height: 27px;
    color: #F7F7F7;
}

.btn{
    margin-top: 65px;
    width: 160px;
    height: 60px;
    background: #CD6326;
    border-radius: 5px;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #F7F7F7;
    cursor: pointer;
}

.btn:hover{
    background: #E39128;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn:active{
    background: #8F5613;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main{
    width: 1440px;
    background: #ccc;
}

.main .container{
    height: 1370px;
    padding: 120px 0 240px;
}

.main__pointer{
    width: 30px;
    height: 70;
    cursor: pointer;
}

.main__pointer:hover{
    box-shadow: 0 0 9px rgba(227, 145, 40, 1);
}

h2{
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #333333;
}

h4{
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #666666;
}

h3{
    font-weight: 400;
    font-size: 27px;
    line-height: 40px;
    text-align: center;
    color: #333333;
    margin-top: 239px;
}

.main_img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;

}
.main_card{
    width: 300px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.main_card:hover{
    box-shadow: 0 0 9px rgba(227, 145, 40, 1);
}

.main_card.one{
    background: url('./img/main/main_1.jpg');
}

.main_card.tow{
    background: url('./img/main/main_2.jpg');
}

.main_card.tre{
    background: url('./img/main/main_3.jpg');
}

.main_card h4{
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #F7F7F7;
    margin-bottom: 10px;
}

.main_card p{
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
    color: #F7F7F7;
}

.main__form{
    text-align: center;
    margin-top: 59px;
}

.formarea{
    width: 540px;
    height: 60px;
    border: 1px solid #666666;
    font-size: 23px;
    line-height: 27px;
    align-items: center;
    color: #666666;
    background: #CCC;
    padding: 10px;
    cursor: pointer;
}

.btn.second{
    width: 120px;
    margin: 0;
}

.footer{
    width: 1440px;
    background: url('./img/bg/bg_footer.jpg') center center/cover no-repeat;
}

.footer .container{
    height: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 86px;
}

.about a{
    font-size: 23px;
    line-height: 60px;
    color: #F7F7F7;
    text-decoration: none;
    cursor: pointer;
}

.about:last-child{
    margin-right: 0;
}

.about a:hover{
    color:#CD6326;
    text-decoration: underline;
}

.media{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media__card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #F7F7F7;
    border-radius: 20px;
    margin-right: 27px;
}

.media:first-child img{
    display: block;
}
.media:first-child{
    margin-right: 0;
}

.media__card img{
    display: block;
    margin: 0 auto;
}

.media__card:hover{
    background: rgb(227, 145, 40);;
}